<footer class="footer text-center" id="contact">
    <div class="container">
        <h1 class="mb-5">Let's Get In Touch!</h1>
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/jahaziel-guzman-86220169/">
              <i class="icon-social-linkedin"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="mailto:jahaziel&#46;guzman93&#64;gmail&#46;com">
              <i class="icon-social-google"></i>
            </a>
            </li>
        </ul>
    </div>
</footer>